---
layout: layouts/single.njk
permalink: /archives/
title: Archives
eleventyNavigation:
  key: Archives
  order: 2
tag: page
---

{% set postslist = collections.post %}
{% include "postlist.njk" %}