---
layout: layouts/single.njk
permalink: /archives/
title: Archives
eleventyNavigation:
  key: Archives
  order: 2
---

<h1>Archive</h1>

{% set postslist = collections.post %}
{% include "postlist.njk" %}