---
layout: layouts/single.njk
permalink: /bbq/
title: BBQ
eleventyNavigation:
  key: BBQ
  order: 5
tag: page
lede: |-
  In between random bursts of energy writing technical blog posts or taking inumerable train photos iterating over the same three-quarter standard shot, I like to pretend I'm some sort of fancy chef and can make something reasonable on the barbeque.
  
  In Australia we talk about barbequeing in the same hushed tones of reverence we use for our sporting teams or murderous wildlife. We're not quite at American levels of barbeque madness, but we're certainly at the next level up from the British and their [precook-to-avoid-food-poisoning take on "barbequeing"](https://www.bbc.com/news/uk-28875429) (that's a legit thing - check out the BBC article. Shots fired.).
  
  Because I'm a narcissist and I have zero ability to retain information, I figured it would be best to record the highs and lows of my grilling and smoking adventures in the hope it furthers the collective works of mankind.
---

{% set postslist = collections.bbq %}
{% include "postlist.njk" %}