---
layout: layouts/single.njk
permalink: /tags/
title: Tags
eleventyNavigation:
  key: Tags
  order: 2
---

<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
{% endfor %}
</ul>