<footer class="site-footer outer">
    <div class="inner">
        <p>The views on this website are entirely my own and do not reflect those of my employer, my country, or the small alien that controls this flesh prison.</p>
        <p>All text copyright &copy; Michael Greenhill.</p>
    </div>
</footer>