<meta charset="utf-8"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="generator" content="11ty"/>
<meta name="referrer" content="no-referrer-when-downgrade"/>
<meta name="description" content="{{ site.subtitle }}"/>

<meta name="theme-color" content="#317EFB"/>

<title>{{ renderData.title or title or metadata.title }}</title>

<link rel="preconnect" href="https://www.google-analytics.com/" >
<link rel="preconnect" href="https://s3-ap-southeast-2.amazonaws.com/" >


<link rel="stylesheet" type="text/css" href="/css/screen.css?v={{ pkg.version }}"/>
<link rel="stylesheet" type="text/css" href="/css/custom.css?v={{ pkg.version }}"/>
<link rel="stylesheet" type="text/css" href="/css/prism-dracula.css?v={{ pkg.version }}"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="manifest" href="/manifest.json">
<link rel="alternate" type="application/atom+xml" title="{{ author.name }}" href="/feed.xml"/>

{% include 'etc/_googletag.njk' %}

<script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
    }
</script> 