<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="generator" content="11ty"/>
<meta name="referrer" content="no-referrer-when-downgrade"/>
<meta name="description" content="{{ site.subtitle }}"/>

<title>{{ renderData.title or title or metadata.title }}</title>

<link rel="stylesheet" type="text/css" href="/css/screen.css"/>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

<link rel="alternate" type="application/atom+xml" title="{{ author.name }}" href="/feed.xml"/>


{% include 'etc/_googletag.njk' %}