.site-header-background:before {
    background-color: black;
    opacity: 0.8;
}

.post-card-primary-tag {
    background-color: #a3e3f7;
    color: black;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: auto;
    border-radius: 3px;
    display: inline-block; 
}

.gist {
    width: 100%;
}

.post-full-header {
    padding: 70px 70px 50px;
}

.post-full-content {
    padding: 0 70px 6vw
}

.post-full-tags {
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.post-card-byline-content {
    margin: 0;
}

div.post-feed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.post-grid {
    display: grid;
    grid-gap: 2em;
    margin-top: 4rem;
    margin-bottom: 4rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

div.post-grid article.post-card {
    padding: 0;
    margin: 0;
    border-bottom: 0;
}

.post-card-excerpt {
    color: #364044;
}

.post-card-byline-content {
    color: #4d5b61; 
}

@media (max-width: 500px) {
    .post-full-content {
        padding: 0px;
    }
    
    .post-full-header {
        padding: 20px 0 35px;
    }

    div.post-grid  {
        grid-template-columns: auto;
    }
}

@media (min-width: 500px) and (max-width: 800px)  {
    div.post-grid  {
        grid-template-columns: auto auto;
    }

    div.post-grid article.post-card:first-child {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 800px) {    
    .post-card-content {
        margin-top: 1em; 
    }
}

@media (max-height: 700px) {
    .site-header-content {
        min-height: auto;
    }
}

@media (min-width: 800px) {

    article.post-card:first-child {
        width: 100%; 
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
    }

    div.post-grid article.post-card:first-child {
        min-height: 380px;
        grid-column: 1 / span 3;
    }

    article.post-card:first-child a.post-card-image-link {
        flex: 1 1 auto;
        min-height: 380px;
    }

    article.post-card:first-child div.post-card-content {
        flex: 0 1 361px;
        justify-content: center;
        padding-left: 40px; 
        min-width: 380px;
    }

    article.post-card:first-child .post-card-image {
        position: absolute;
        width: 100%; 
        height: 100%; 
    }

    article.post-card:not(:first-child) div.post-card-content {
        padding-top: 40px; 
    }

    article.post-card:not(:first-child) .post-card-image {
        height: 200px; 
        width: 100%; 
        object-fit: cover
    }
    
    .postlist li a {
        border: 0;
        text-decoration: none;
        box-shadow: none; 
        display: grid; 
        grid-gap: 1rem; 
        grid-template-columns: auto 150px;
    }
    
    .postlist li a strong {
        display: block; 
        grid-column: 1;
        grid-row: 1; 
    }
    
    .postlist li a span {
        display: block; 
        grid-column: 1;
        grid-row: 2; 
        font-size: 1.8rem; 
    }
    
    .postlist li a time {
        grid-column: 2;
        grid-row: 1; 
        font-size: 1.6rem; 
        text-align: right;
    }
}

.postlist { margin: 0; padding:0 }
.postlist li { 
    list-style: none; 
    margin: 0 0 3rem 0;
    padding: 0; 
}

.postlist li a > * {
    display: block; 
}

figure.fullwidth img {
    max-width: 100vw;
    margin: 0;
    display: block;
    height: auto; 
    border: 0;
}

ol.taglist {
    margin: 0; padding: 0; 
}

ol.taglist li {
    list-style: none;
    display: inline-block; 
    text-transform: uppercase; 
    margin: 0 0.5rem 0 0;
    padding: 0; 
    font-size: 1.4rem;
}

li.nav-current a:before{right:12px;opacity:.5}

aside.post-aside {
    background: whitesmoke;
    padding: 1rem 1.6rem; 
    min-width: 300px; 
    max-width: 400px; 
    display: block; 
    font-size: 1.6rem; 
    align-self: flex-start;
    margin: 0 0 4rem 0;
}

div.heroimage {
    margin: 0; 
    background: #333; 
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 1.5em;
    text-align: center; 
    background-size: cover;
}

div.heroimage > div {
    background: rgba(0,0,0,.8); 
    overflow: hidden; 
}

div.heroimage img {
    box-shadow: 0px 0px 100px #000; 
    margin: 0 auto; 
}

p.subtitle {
    font-size: 3rem; 
    margin-top: 5rem;
}

span.reading-time {
    font-size: 1.6rem; 
    font-style: italic; 
}

footer {
    color: #ccc;
    font-size: 1.4rem; 
}

.site-footer {
    padding-bottom: 0;
}

.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4 {
    padding-top: 80px;
    margin-top: calc(-80px + .8em) !important;
}

div.grid-container {
    display: grid; 
    grid-gap: 10px; 
    grid-template-columns: 400px auto auto;
    grid-template-areas:
    "hero hero hero"
    "sidebar header header"
    "sidebar post post";
}

aside#sidebar {
    background: whitesmoke;
}

div.grid-container aside#sidebar {
    grid-area: sidebar;
}

div.grid-container main#site-main {
    grid-area: post;
}

div.grid-container .post-header {
    grid-area: header; 
}

div.grid-container .heroimage {
    grid-area: hero; 
}

@media (prefers-color-scheme: dark) {
    aside.post-aside {
        background-color: #333; 
    }
}