<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'etc/_htmlmeta.njk' %}

    <link rel="canonical" href="{{ site.url }}/"/>

    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:description" content="{{ site.subtitle }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:image" content="{{ site.hero_image }}"/>
    <meta property="article:publisher" content="{{ site.social.facebook }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ site.title }}"/>
    <meta name="twitter:description" content="{{ site.subtitle }}"/>
    <meta name="twitter:url" content="{{ site.url }}"/>
    <meta name="twitter:image" content="{{ site.hero_image }}"/>
    <meta property="og:image:width" content="1620"/>
    <meta property="og:image:height" content="1080"/>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "publisher": {
          "@type": "Organization",
          "name": "{{ site.title }}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ site.url }}/favicon.ico",
            "width": 48,
            "height": 48
          }
        },
        "url": "{{ site.url }}",
        "image": {
          "@type": "ImageObject",
          "url": "{{ site.hero_image }}",
          "width": 1620,
          "height": 1080
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ site.url }}"
        },
        "description": "{{ site.subtitle }}"
      }
    </script>

  </head>
  <body class="home-template">

    <div class="site-wrapper">
      <header class="site-home-header">

        <style type="text/css">
          .responsive-header-img {
            background-image: url("{{ site.hero_image }}");
          }

          @media(max-width: 1000px) {
            .responsive-header-img {
              background-image: url("{{ site.hero_image }}");
              background-image: -webkit-image-set(url({{ site.hero_image }}) 1x, url({{ site.hero_image }}) 2x);
              background-image: image-set(url({{ site.hero_image }}) 1x, url({{ site.hero_image }}) 2x);
            }
          }

          @media(max-width: 600px) {
            .responsive-header-img {
              background-image: url("{{ site.hero_image }}");
              background-image: -webkit-image-set(url({{ site.hero_image }}) 1x, url({{ site.hero_image }}) 2x);
              background-image: image-set(url({{ site.hero_image }}) 1x, url({{ site.hero_image }}) 2x);
            }
          }
        </style>
        <div class="outer site-header-background responsive-header-img">

          <div class="inner">
            {% include 'etc/_menu.njk' %}

            <div class="site-header-content">
              <h1 class="site-title">
                {{ site.title }}
              </h1>
              <h2 class="site-description">{{ site.subtitle }}</h2>
            </div>
          </div>
        </div>
      </header>

      <main id="site-main" class="site-main outer">
        <div class="inner posts">
          <div class="post-feed">

            {%- for post in collections.post | reverse -%}
              <article class="post-card">
                <a class="post-card-image-link" href="{{ post.url }}">
                  <img class="post-card-image" src="{{ post.data.heroimage }}">
                </a>
                <div class="post-card-content">
                  <a class="post-card-content-link" href="{{ post.url }}">
                    <h2 class="post-card-title">{{ post.data.title }}</h2>
                    <section class="post-card-excerpt">
                      <p>{{ post.data.subtitle }}</p>
                    </section>
                  </a>
                  <footer class="post-card-meta">
                    <div class="post-card-byline-content">
                      <span class="post-card-byline-date">
                        <time datetime="{{ post.data.date }}">{{ post.data.date | niceDate }}</time>
                      </span>
                    </div>
                  </footer>
                </div>
              </article>
            {%- endfor -%}
          </div>
        </div>

      </main>

      <aside class="read-next outer"></aside>

      {% include 'etc/_footer.njk' %}

    </div>
  </body>
</html>